body{
    margin: 0;
    padding: 0;
    background-color: crimson;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li{
    display: block;
    text-align: center;
    padding: 14px 16px;
    float: left;
    color: white;
}
li:hover{
    color: lightblue;
}
h1{
    color: white;
    text-align: center;
}

img{
    box-shadow: 10px 10px 10px black;
}
